/* Paleta de colores */
:root {
    /* index.html */
    --bg-color: #f1f1f1;
    --header-bg-color: #ffffff;
    --text-color: #333333;
    --button-bg-color: #e0e0e0;
    --button-hover-bg-color: #d0d0d0;
    --border-color: #ccc;
    --container-bg-color: #e4e4e4;
    --url-color: #686868;
    --url-color-hover: #444444;

    /* polaria-chat.html */
    --chat-box-color: #dddddd;
    --chat-input-color: #cccccc;
    --user-msg: #e3f2fd;
    --bot-msg: transparent;

    /* chat elements */
    --items-bg-color: #f4f4f4;
    --items-hover: #ddd;
    --button-hover: #f0f0f0;

    /* modal elements */
    --modal-color: #aaa;
    --modal-border: #ccc;
    --modal-cont-bg: #f9f9f9;
    --modal-bg-color: #fff;
}

/* Estilos para index.html */

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    background-color: var(--header-bg-color);
}

header button {
    background: var(--button-bg-color);
}

header button:hover {
    background-color: var(--button-hover-bg-color);
}

.container div {
    border: 1px solid var(--border-color);
    background-color: var(--container-bg-color);
}

a {
    color: var(--url-color);
}

a:hover {
    color: var(--url-color-hover);
}

/* Estilos para polaria-chat.html */

.chat-box {
    background-color: var(--chat-box-color);
}

.chat-container {
    background-color: var(--bg-color);
}

.chat-history {
    scrollbar-color: #4d4d4d transparent;
}

.chat-input {
    background-color: var(--chat-input-color);
}

.user-msg {
    background-color: var(--user-msg);
}

.bot-msg {
    background-color: var(--bot-msg);
}

#message-input {
    background-color: var(--chat-input-color);
    scrollbar-color: #4d4d4d transparent;
}

.left-menu, .right-menu {
    background-color: var(--container-bg-color);
}

/* Menu elements */

.chat-item, .add-chat {
    background: var(--items-bg-color);
}

.options-menu {
    background: white;
    border: 1px solid #ccc;
}

.menu-button:hover,
.menu-button.delete:hover {
    background: var(--button-hover);
}

.opt-button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.add-chat:hover, .chat-item:hover {
    background: var(--items-hover);
}

/* Modal in index.html */

.modal-content {
    border: 1px solid var(--modal-border);
    background-color: var(--modal-bg-color);
}

.close {
    color: var(--modal-color);
}

.close:hover,
.close:focus {
    color: black;
}

.create-model, .bot-card {
    border: 1px solid var(--modal-border);
    background-color: var(--modal-cont-bg);
}

