# Ignore config.py
server/data_m/config.json

# Ignore Virtual Enviroment
virt/

# Ignore starting script
init.sh

# Ignore models files
model_files/

# Ignorar archivos compilados de Python
*.pyc
__pycache__/

